body {background: url("background.jpg");
  margin: 0;  }

.explanation{background: rgb(59, 198, 197);
            padding: 15px;
            width: 50%;
            color: white;
            font-size:14;
            margin: 5%;
            margin-right: 20%;
            margin-left: 20%;}
.dropbtn {
    background-color: rgb(59, 198, 197);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 390%;
    margin: 5%;
    margin-bottom: 0;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    min-width: 25%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    cursor: pointer;
    width: 390%;
    margin: 5%;
    margin-top: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: solid 1px lightgrey;
}

  .dropdown-content a:hover {background-color: #f1f1f1;}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: rbg(0, 160, 160);
  }